.tab + .container {
  bottom: 3em;
}

.dialog-buttons {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 3em;

  padding: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
  background-color: var(--main-color-neutral);
}