body {
  display: grid;
  grid-template-rows: 1fr auto;
}

.page {
  position: relative;
  overflow-y: auto;
}

.dialog-buttons {
  padding: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
  background-color: var(--main-color-neutral);
}