table {
  position: absolute;
  width: 100%;
  padding: 8px;
  table-layout: fixed;
  gap: 8px;
}

td {
  vertical-align: top;
}

.field-name-cell {
  width: 125px;
}

.input {
  margin: 0 8px;
  width: calc(100% - 16px - 2.4em);
}
