@import "tailwindcss";
@config "../tailwind.config.ts";

@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant dark (&:where(.dark-mode, .dark-mode *));


revo-grid {
    border: none !important;
    min-width: 0;

    --rg-theme-border: rgb(var(--color-surface-dark)/1);
    --rg-theme-background: transparent;
    --rg-theme-foreground: rgb(var(--color-surface-foreground)/1);
    --rg-theme-text: rgb(var(--color-surface-foreground)/1);
    --revo-grid-font-size: var(--text-sm);
    --rg-theme-primary: rgb(var(--color-primary)/1);
    --rg-theme-primary-transparent: rgb(var(--color-primary)/0.9);
    --rg-theme-focused-bg: rgb(var(--color-surface)/1);

    --rg-theme-header-bg: rgb(var(--color-surface)/1);
    --rg-theme-header-focused-bg: rgb(var(--color-surface-dark)/1);
    --rg-theme-header-color: rgb(var(--color-surface-foreground)/1);
    --rg-theme-header-border: var(--rg-theme-border);
    --revo-grid-header-font-size: var(--text-sm);

    --rg-theme-row-headers-bg: transparent;

    --rg-theme-cell-border: var(--rg-theme-border);
    --rg-theme-cell-focused-bg: rgb(var(--color-surface)/1);
    --rg-theme-cell-disabled-bg: transparent;

    --rg-theme-button-bg: rgb(var(--color-primary)/1);
    --rg-theme-button-success-bg: rgb(var(--color-success)/1);
    --rg-theme-button-danger-bg: rgb(var(--color-warning)/1);
}

revo-grid revogr-viewport-scroll.colPinStart {
    box-shadow: none;
}

revo-grid revogr-data .rgRow {
    box-shadow: none !important;
}

revo-grid:is([theme=default],[theme=dark]), revo-grid:not([theme]) {
    & revogr-viewport-scroll {
        &[row-header] revogr-header {
            background-color: transparent;
            & .rgHeaderCell {
                box-shadow: 
                    -1px 0 0 0 var(--rg-theme-header-border) inset,
                    0 -1px 0 0 var(--rg-theme-header-border) inset;
            }
        }
        &[row-header] revogr-data .rgRow .rgCell {
            font-size: var(--text-sm);
            &:not(:first-child) {
                box-shadow: 
                    -1px 0 0 0 var(--rg-theme-cell-border) inset,
                    0 1px 0 0 var(--rg-theme-cell-border);
            }
            &:first-child {
                box-shadow: 
                    -1px 0 0 0 var(--rg-theme-cell-border) inset,
                    1px 0 0 0 var(--rg-theme-cell-border) inset,
                    0 1px 0 0 var(--rg-theme-cell-border);
            }
        }

        &:not([row-header]) revogr-header .rgHeaderCell {
            &:not(:last-child) {
                box-shadow: 
                    0 1px 0 0 var(--rg-theme-header-border) inset,
                    -1px 0 0 0 var(--rg-theme-header-border) inset,
                    0 -1px 0 0 var(--rg-theme-header-border) inset;
            }
            &:last-child {
                box-shadow: none;
                background-color: rgb(var(--color-surface-light)/1);
                & .header-content {
                    overflow: visible;
                }
            }
        }
        &:not([row-header]) revogr-data .rgRow .rgCell {
            &:not(:last-child) {
                box-shadow: 
                    -1px 0 0 0 var(--rg-theme-cell-border) inset,
                    0 1px 0 0 var(--rg-theme-cell-border);
            }
            &:last-child {
                box-shadow: none;
                background-color: rgb(var(--color-surface-light)/1);
            }
        }
    }
}

/*
revo-grid revogr-data .rgRow:last-child .rgCell {
    &:not(:first-child, :last-child) {
        box-shadow: 
            
    }
    &:first-child {
        box-shadow: 
            0 -1px 0 0 var(--rg-theme-cell-border) inset;
    }
    &:last-child {
        box-shadow: -1px 0 0 0 var(--rg-theme-cell-border) !important;
    }
}
revo-grid revogr-data .rgRow:not(:last-child) .rgCell {
    &:not(:first-child, :last-child) {
        box-shadow: 
            -1px 0 0 0 var(--rg-theme-cell-border),
            0 1px 0 0 var(--rg-theme-cell-border);
    }
    &:first-child {
        box-shadow: 
            0 1px 0 0 var(--rg-theme-cell-border);
    }
    &:last-child {
        box-shadow: -1px 0 0 0 var(--rg-theme-cell-border) !important;
    }
}

revo-grid revogr-viewport-scroll.colPinStart revogr-data .rgRow:last-child .rgCell:last-child {
    box-shadow: 
        1px 0 0 0 var(--rg-theme-cell-border) inset,
        0 -1px 0 0 var(--rg-theme-cell-border) inset,
        -1px 0 0 0 var(--rg-theme-cell-border) inset !important;
}

revo-grid revogr-viewport-scroll.colPinStart revogr-data .rgRow:not(:last-child) .rgCell:last-child {
    box-shadow: 
        1px 0 0 0 var(--rg-theme-cell-border) inset,
        0 1px 0 0 var(--rg-theme-cell-border),
        -1px 0 0 0 var(--rg-theme-cell-border) inset !important;
}
        */

revo-grid revogr-scroll-virtual {
    position: absolute;
    &.vertical {
        right: 0;
    }
    &.horizontal {
        bottom: 0;
    }
}

revo-grid .range-handlers {
    visibility: hidden;
}

revogr-viewport-scroll.rgCol {
    flex-grow: 0;
}