.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 4px;
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.list {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr;
  left: 0;
  right: 0;
  top: calc(2.2em + 18px);
}

.list-item {
  cursor: pointer;
  padding: 0.3em 0.8em;
  font-size: 0.85em;
  background-color: var(--main-color-light);
  white-space: pre;
}
.list-item:nth-child(even of .list-item) {
  background-color: var(--main-color-neutral);
}
.list-item:hover, .list-item:focus, .list-item:focus-visible {
  outline: none;
  background-color: var(--main-color-semidark);
  border: 1px solid var(--accent-color);
}
.list-item:has(:checked) {
  background-color: var(--main-color-dark) !important;
}
.list-item input {
  display: none;
}

.empty-list-item {
  cursor: default;
  padding: 0.3em 0.8em;
  font-size: 0.85em;
  text-align: center;
}
.empty-list-item:has(+ .list-item) {
  display: none;
}