@import './styles.css';
@import './util/cell.css';

#page-content {
  table-layout: fixed;
  width: 0;
  border: none;
  border-spacing: 0;
  border-collapse: separate;
  cursor: default;
}
tr {
  --row-background-color: var(--main-color-neutral);
}
tr:nth-child(even), thead > tr, tfoot > tr {
  --row-background-color: var(--main-color-light);
}
th:nth-child(1), td:nth-child(1) {
  width: 2em;
  text-align: center;
}
th, td {
  background-color: var(--row-background-color);
  border: var(--main-color-dark) 1px solid;
  &:nth-child(1) {
    border-left-width: 2px;
  }
}
td {
  position: relative;
  padding: 0;
  &:nth-last-child(1) {
    border-right-width: 2px;
  }
}
th {
  position: sticky;
  top: 0;
  padding: 2px 6px;
  border-top-width: 2px;
  &:nth-last-child(2) {
    border-right-width: 2px;
  }
  &:nth-last-child(1) {
    border: none;
    background-color: transparent;
  }
}


body {
  display: grid;
  grid-template-rows: 1fr 2.5em;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#page {
  margin: 8px 12px 0;
  padding: 0;
  overflow: auto;
}

#pagenav-bar {
  margin: 0;
  padding: 0 12px;
  background-color: var(--main-color-dark);
  display: grid;
  grid-template-columns: 1fr 1fr;
}