/**
 * 
 * This file is for defining universal styles. 
 *
 */



:root {
  --main-color-neutral: #f6f6f6;
  --main-color-light: #fcfcfc;
  --main-color-semidark: #f0f0f0;
  --main-color-dark: #d8d8d8;
  --text-color-light: #656565;
  --text-color-neutral: #0f0f0f;
  --text-color-link: #646cff;
  --text-color-link-hover: #535bf2;
  --accent-color: #396cd8;
  --main-color-error: #e996a0;
  --text-color-error: #800707;

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  color: var(--text-color-neutral);
  background-color: var(--background-A);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-color-neutral: #2f2f2f;
    --main-color-light: #3c3c3c;
    --main-color-semidark: #222222;
    --main-color-dark: #1c1c1c;
    --text-color-neutral: #f6f6f6;
    --text-color-link: #3ee9d2;
    --text-color-link-hover: #24c8db;
  }
}


:focus-visible {
  outline: none;
}
.focusable:focus {
  border: var(--accent-color) 1px solid;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: 0.75s;
}
.logo.vite:hover {
  filter: drop-shadow(0 0 2em #747bff);
}
.logo.typescript:hover {
  filter: drop-shadow(0 0 2em #2d79c7);
}
.logo.tauri:hover {
  filter: drop-shadow(0 0 2em #24c8db);
}



/**
 * This is where my styles start.
 */

.input {
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--text-color-neutral);
  background-color: var(--main-color-light);
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  outline: none;
}
.input:hover, .input:focus {
  border-color: var(--accent-color);
}
.input:active, .input.active {
  border-color: var(--accent-color);
  background-color: var(--main-color-dark);
}
.input:disabled {
  cursor: default;
  background-color: var(--main-color-dark);
  border: 1px solid transparent;
}
.input option {
  white-space: preserve nowrap;
}


.clickable-text {
  font-weight: 500;
  color: var(--text-color-link);
  text-decoration: inherit;
  cursor: pointer;
  text-overflow: ellipsis;
}
.clickable-text:hover {
  color: var(--text-color-link-hover);
}


.hidden {
  display: none;
}


body {
  position: absolute;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: var(--main-color-neutral);
}



.tab-bar {
  position: fixed;
  top: 0;
  height: 2.5em;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 8px;
  margin: 0;
  padding: 0 8px;
  background-color: var(--main-color-dark);
}

.tab {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0 solid transparent;
  padding: 0 0.6em;
  height: 1.8em;
  box-shadow: none;
  background-color: var(--main-color-semidark);

  &:has(:checked) {
    position: relative;
    padding: 0.1em 0.7em 0;
    height: 1.9em;
    left: -0.05em;
    background-color: var(--main-color-light);
  }
}

.tab + .container {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 2.5em;
  bottom: 0;
  margin: 8px 8px 16px;
  overflow-y: auto;
  overflow-x: hidden;
}
.tab:has(:checked) + .container {
  display: inline;
}




[tooltip] {
  position: relative;
}
[tooltip]::before {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 0 6px 4px 6px;
  border-style: solid;
  border-color: transparent transparent rgba(0,0,0,0.7) transparent;
  z-index: 100;

  visibility: hidden;
}
[tooltip]:hover::before {
  visibility: visible;
}
[tooltip]::after {
  content: attr(tooltip);
  position: absolute;
  left: 50%;
  bottom: -6px;
  transform: translateX(-50%) translateY(100%);
  background: rgba(0,0,0,0.7);
  text-align: center;
  color: #fff;
  padding: 4px 2px;
  font-size: 12px;
  min-width: 80px;
  border-radius: 5px;
  pointer-events: none;
  z-index: 99;
  
  visibility: hidden;
}
[tooltip]:hover::after {
  visibility: visible;
}
sup[tooltip] {
  font-weight: 500;
  color: var(--text-color-link);
  text-decoration: underline dashed;
  cursor: default;

  &::after {
    transform: translateX(-20%) translateY(100%);
    min-width: 250px;
  }
}